[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "==4.12.3"
datasets = "*"
pytest = "*"
aws-lambda-powertools = "*"
boto3 = "*"
shap = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
test = "pytest"
